@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

li,
a,
button {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    color: #edeff1;
    text-decoration: none;

}

header {
    padding: 10px 5%;
}

.logo {
    cursor: pointer;
    height: 55px;
    width: 60px;
}

.nav__links {
    list-style: none;
    margin: 0;
}

.nav__links li {
    padding: 8px 0;
}

.nav__links li a {
    transition: color 0.3s ease;
}

.nav__links li a:hover {
    color: #0088a9;
}

.button {
    font-family: "Montserrat", sans-serif;
    min-width: 122px;
    color: #edeff1;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


@media (max-width: 1050px) {
    .logo {
        height: 45px;
        width: 50px;
    }

    li,
    a,
    button,
    span {
        font-size: 14px;
    }

    header {
        padding: 8px 4%;
    }

    .nav__links li {
        padding: 0 15px;
    }

    .button {
        padding: 7px 20px;
    }

    .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .navMenu{
       position: absolute;
        top: 4rem; left:0;
        display: flex;
        justify-content: center; 
        width: 100%;
        padding:1.25rem;
        z-index: 10;
    }
}


@media (min-width: 1050px) {
    .nav__links {
        display: flex;
        align-items: center;
    }

    .nav__links li {
        display: inline-block;
        padding: 0 20px;
    }
}