@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 600px;
}
